.text-field {
    margin-top: 24px;

    &__input {
      display: block;
      height: 44px;
      width: 100%;
      border: none;
      border-bottom: 1px solid #E8E8E8;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      appearance: none;
  
      &:focus {
        border-color: #3456F3;
        outline: none;
      }
    }

    &__label {
        font-size: 10px;
        color: #A0A0A0;
    }

  }