.promo {
  padding: 75px 70px;
  background-color: #073042;
  color: #fff;
  display: flex;
  justify-content: space-between;
  @media (max-width: 1023px) {
    padding: 140px 50px 76px;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  @media (max-width: 767px) {
    padding: 70px 10px 30px;
  }

  &__info {
    width: 640px;
    @media (max-width: 1023px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 46px;
    }
    @media (max-width: 1023px) {
      padding-top: 44px;
      width: 100%;
    }
  }

  &__title {
    font-size: 50px;
    line-height: 58px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    @media (max-width: 1023px) {
      font-size: 40px;
      line-height: 50px;
    }
    @media (max-width: 1023px) {
      font-size: 30px;
      line-height: 38px;
      letter-spacing: -1px;
    }
  }

  &__descr {
    color: #FFFFFF;
    opacity: .5;
    font-size: 13px;
    font-weight: 400;
    width: 310px;
    margin-top: 36px;
    @media (max-width: 1023px) {
      margin-top: 22px;
    }
    @media (max-width: 1023px) {
      margin-top: 24px;
    }
  }

  &__link {
    display: block;
    width: fit-content;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    color: #fff;
    margin-top: 146px;
    padding: 10px 20px;
    border: 1px solid rgba($color: #fff, $alpha: .6);
    border-radius: 3px;
    transition: background-color .2s;
    &:hover {
      background-color: rgba($color: #fff, $alpha: .3);
    }
    @media (max-width: 1023px) {
      margin-top: 92px;
    }
    @media (max-width: 767px) {
      margin-top: 80px;
    }
  }

  &__logo{
    width: 310px;
    height: 304px;
    @media (max-width: 767px) {
      width: 210px;
      height: 206px;
    }
  }
}