@import url('../../vendor/normalize.css');
@import url('../../vendor/fonts/inter.css');
* {
  margin: 0;
  padding: 0;
}

.content{
  position: relative;
  font-family: inter;
  font-weight: 500;
  background-color: #fff;
  color: #000;
  font-weight: 400;
  min-width: 320px;

  .wrapper {
    max-width: 1280px;
    margin: 0 auto;
  }
}
