.main {
  padding: 75px 70px;
  height: 574px;
  background-color: #073042;
  color: #fff;
  display: flex;
  justify-content: space-between;

  &__info {
    width: 640px;
  }

  &__title {
    font-size: 50px;
    line-height: 58px;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }

  &__descr {
    color: #FFFFFF;
    opacity: .5;
    font-size: 13px;
    font-weight: 400;
    width: 310px;
    margin-top: 36px;
  }

  &__link {
    display: block;
    width: fit-content;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    color: #fff;
    margin-top: 146px;
    padding: 10px 20px;
    border: 1px solid rgba($color: #fff, $alpha: .6);
    border-radius: 3px;
    transition: background-color .2s;
    &:hover {
      background-color: rgba($color: #fff, $alpha: .3);
    }
  }

  &__logo{
    width: 310px;
    height: 304px;
  }
}