.search-form {
  padding: calc(80px + 74px) 70px 80px;
  display: flex;
  position: relative;
  @media (max-width: 1023px) {
    flex-direction: column;
    padding: calc(60px + 74px) 30px 60px;
  }
  @media (max-width: 767px) {
    padding: calc(60px + 74px) 10px 44px;
  }
  &::before {
    content: "";
    border-bottom: 1px solid rgba($color: #aaa, $alpha: .2);
    position: absolute;
    bottom: 0;
    width: calc(100% - 70px * 2);
    @media (max-width: 1023px) {
      width: calc(100% - 30px * 2);
    }
    @media (max-width: 767px) {
      width: calc(100% - 10px * 2);
    }
  }

  &__container {
    width: 100%;
    height: 48px;
    display: flex;
    position: relative;
    &__field {
      width: 100%;
      padding: 15px 22px;
      border: 1px solid #A0A0A0;
      border-radius: 50px;
    }
    &__button {
      position: absolute;
      right: 7px;
      top: 7px;
      width: 80px;
      height: 34px;
      border: none;
      background-color: #3456F3;
      border-radius: 48px;
      background-image: url('../../images/icon-search.svg');
      background-repeat: no-repeat;
      background-position: center center;
      transition: opacity .2s;
      cursor: pointer;
      &:hover {
        opacity: .5;
      }
    }
  }

  &__shorts {
    display: flex;
    align-items: center;
    @media (max-width: 1023px) {
      margin-top: 38px;
      align-self: center;
    }
    @media (max-width: 767px) {
      margin-top: 45px;
    }
    &__title {
      font-size: 13px;
      line-height: 18px;
      margin-left: 41px;
      margin-right: 14px;
    }
    &__checkbox {
      display: flex;
      flex-direction: column;
      position: relative;
      cursor: pointer;
      input {
        display: none;
      }
      &__bg {
        position: relative;
        width: 36px;
        height: 20px;
        border-radius: 20px;
        background-color: #EBEBEB;
      }
      &__indicator {
        position: absolute;
        top: 2px;
        left: 2px;
        width: 14px;
        height: 14px;
        background-color: #ccc;
        border: 1px solid #fff;
        border-radius: 50%;
        transition: left .2s;
      }
      input:checked ~ &__indicator {
        background-color: #2BE080;
        left: 18px;
      }
    }
  }
}