.about-project {
  padding: 110px 70px calc(110px + 28px);
  display: grid;
  grid-template-areas: 
  "top top "
  "mid-l mid-r"
  "bot bot";

  &__title {
    grid-area: top;
    font-size: 22px;
    border-bottom: 1px solid #000;
    padding-bottom: 23px;
    margin-bottom: 70px;
  }

  &__section {
    margin-bottom: 110px;
    &__title {
      font-size: 20px;
      margin-bottom: 26px;
    }
    &__descr {
      font-size: 14px;
      line-height: 20px;
    }
  }
  
  &__timeline{
    grid-area: bot;
    display: flex;
    height: 36px;
    font-size: 14px;
    &__back{
      display: block;
      width: 20%;
      background-color: #2BE080;
      &__week{
        display: block;
        width: fit-content;
        margin: 9px auto;
        &::after {
          content: 'Back-end';
          color: #A0A0A0;
          margin-top: 23px;
          display: block;
        }
      }
    }
    &__front{
      display: block;
      width: 80%;
      background-color: #F2F2F2;
      &__week{
        display: block;
        width: fit-content;
        margin: 9px auto;
        &::after {
          content: 'Front-end';
          color: #A0A0A0;
          margin-top: 23px;
          display: block;
        }
      }
    }


  }
}